:root{
	--mainColor: #FFCCCC;
	--secondaryColor: #FFF;

	--mainText: #8F97C7;
	--secondaryText: #FFCCCC;

	--logo-k-clr: #FFFFFF;

	--buttonColor: #8F97C7;
	--button-hover: #FFCCCC;
	--buttonText: #FFF;
}
